body{
    font-family: poppins;
}
h1{
    font-size: 100px;
    text-align: center;
}

p{
    font-weight: bold;
    align-content: center;
    text-align: center;
    font-size: 20px;
}

#container{
    background-color:beige;
}